  
            <footer class="footer">
                <div class="footer-content">
                    <div>
                        <h1 class="logo-title">FINTECH<br/>SCHOOL</h1>
                    </div>
                    <div class="right-section">
                        <p>+380 96 955 099 5</p>
                        <p>fintechschool2025@gmail.com</p>
                        <p class="address">м. Львів, вул. Замарстинівська 83А</p>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p>© 2025 <span>Fintech School. Всі права захищені.</span></p>
                </div>
            </footer>
        </div>
    </body>
</html>